<!-- Expression Bindings & Property Bindings -->
<p [title]="name" [attr.my-custom-attribute]="seconds" [style.backgroundColor]="'rgb(0, 0, ' + seconds * 20 + ')'">Hello {{ name }}!</p>
<p [class.even]="seconds % 2 === 0">You loaded this page {{ seconds }} seconds ago.</p>
<!-- Event Binding -->
<button *ngIf="seconds > 5" (click)="reset()">Reset seconds</button>
<app-hello-world></app-hello-world>
<div class="canvas"
     (mousemove)="updateMousePosition($event)"
     (click)="addPoint()">
     <app-hello-world></app-hello-world>
  <div *ngFor="let point of points"
       class="point"
       [style.left]="point.x + 'px'"
       [style.top]="point.y + 'px'"></div>
</div>
<p>Mouse position {{mouseX}}, {{mouseY}}</p>
<app-hello-world></app-hello-world>
